---
const { title } = Astro.props;
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <style>
      :root {
        --neon-red: #ff003c;
        --dark-bg: #0a0a0a;
      }
      body {
        background-color: var(--dark-bg);
        color: white;
        margin: 0;
        font-family: "Segoe UI", sans-serif;
        overflow-x: hidden; /* Mencegah scroll samping */
      }
      /* Pastikan margin/padding body 0 agar seamless */
      main { padding: 0; }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>